*{
margin: 0;
padding: 0;
}
body{
    /* background-color: aqua; */
    font-size: 13px;
    display: flex;
     flex-direction: column;

}
nav{
    width: 100%;
}
menu{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;

}

menu ul{
    display: flex;
}
menu ul li{
    list-style: none;

}
menu ul li a{
color:whitesmoke;
padding: 25px;
text-decoration: none;

}
input{
    padding: 9px;
    border-radius: 6px;
}
